<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  
  <servlet>
	<servlet-name>servlet</servlet-name>
	<servlet-class>com.lorian.FirstServlet</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>servlettwo</servlet-name>
	<servlet-class>com.lorian.SecondServlet</servlet-class>
  </servlet>
  
  <servlet>
	<servlet-name>servletthree</servlet-name>
	<servlet-class>com.lorian.ThirdServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>servlet</servlet-name>
	<url-pattern>/servlet_add</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	<servlet-name>servlettwo</servlet-name>
	<url-pattern>/servlet_add2</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	<servlet-name>servletthree</servlet-name>
	<url-pattern>/servlet_add3</url-pattern>
  </servlet-mapping>
  
</web-app>