<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">

<context-param>
	<param-name>pi</param-name>
	<param-value>3.14</param-value>
</context-param>

<servlet>
	<servlet-name>calculo</servlet-name>
	<servlet-class>com.lorian.CalculoServlet</servlet-class>
	
	<init-param>
		<param-name>hello</param-name>
		<param-value>Hello, World!</param-value>
	</init-param>
</servlet>

<servlet>
	<servlet-name>redirect</servlet-name>
	<servlet-class>com.lorian.RedirectServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>calculo</servlet-name>
	<url-pattern>/servlet_add</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>redirect</servlet-name>
	<url-pattern>/servlet_redirect</url-pattern>
</servlet-mapping>
  
</web-app>